@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,600');

body {
    height: 100%;
    padding-top: 50px;
    scroll-behavior: smooth;
    color: #666;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

.fixed {
    position: fixed;
    height: 500px;
    float: right;
    padding-top: 5%;
    padding-left: 15%;
}

#canvas {
    width: 500px;
    height: 500px;
}

#container {
    height: 100%;
    width: 100%;
    margin: 0;
    padding-left: 50%;
    position: absolute;
    line-height: 1.5;
}

    #container > div {
        /*height: 800px;*/
        display: block;
        /*padding: 200px 45px;*/
    }



#problem {
    padding-top: 5%;
    padding-right: 15%;
    padding-left: 15%;
}

    #problem p {
        font-size: 1.5rem;
    }
#problem h3 {
    font-weight: bold;
    text-align: center;
}

#div1_Map {
    padding-right: 15%;
    padding-top: 30%;
    padding-bottom: 500px;
    padding-left: 5%;
}

#div2_Scatter {
    padding-right: 15%;
    padding-bottom: 500px;
    padding-left: 10%;
}

#div3_WrapUp {
    padding-top: 130%;
    padding-right: 15%;
    padding-left: 15%;
}
    #div3_WrapUp p {
        font-size: 1.5rem;
    }

.h3_WrapUp {
    font-weight: bold;
    text-align: center;
}


.tick > line {
    color: rgb(194, 194, 194);
    opacity: 0.5;
}

.titleStyle {
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
}

.district:hover {
    background-color: red;
}

#tooltip_Map {
    padding-top: 5%;
}

#tooltip-scatter {
    padding-top: 5%;
}

#fixed_footer {
    width: 100%;
    margin-top: 300px;
}
